body{
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    border-style:solid;
    border-style: groove;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;   
    text-align: start; 
    letter-spacing: normal;
    font-size: 13px;
    line-height: 44px;
}
.icone{
    display: flex;
    font-size: 15px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1px;
}
.menu-item{
    display: flex;
    list-style-type: none;
    justify-content: end;    
}

.menu-item a{
text-decoration: none;
margin-left: 20px;
color: #199BAB;
}

.logo{

    display: flex;
    width: 45%;
    margin-left: 15%;
    margin-top: 2%;
}
.baground{
    background-image: url(image/presso.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo_footer{
    display: flex;
    justify-content: flex-start;
    width: 25%;
}
.menu-nav{
    float: left;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    list-style-type: none;      
}

.menu-nav a{
    text-decoration: none;
    margin: 1rem;
}
.svg{
    width: 20px;
}
.header2{
    display: flex;
    text-justify: space-between;
}
.baground{
    padding-top: 10%;
}
h1{
    font-size: 54px;
    margin-left: 10%;
}
p{
    margin-left: 10%;
}
.bon1{
    margin-left: 10%;
}