body{
    font-family: Arial, Helvetica, sans-serif;
   min-height: 100%;
   width: 100%;
}
.topbar{
    
    border-style:solid;
    border-style: groove;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;   
    text-align: start; 
    letter-spacing: normal;
    font-size: 13px;
    line-height: 44px;   
}
.icone{
    display: flex;
    font-size: 15px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1px;
}
.menu-item{
    display: flex;
    list-style-type: none;
    justify-content: end;    
}

.menu-item a{
text-decoration: none;
margin-left: 20px;
color: #199BAB;
}
.menu-item a:hover{
    color: black;
}
.logo{
    display: flex;
    width: 50%;
    margin-left: 15%;
    margin-top: 2%;
}
.background{
    background-image: url(image/presso.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.box{
    display: flex;
    float:left;
    flex-direction: row;
}

.menu-nav{
    float: left;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    list-style-type: none;    
}

.menu-nav a{
    text-decoration: none;
    margin: 0.5rem;
    color:#121212;
    display: flex;
    justify-content: left;

}
.svg{
    width: 20px;
}
.header2{
    display: flex;
    text-justify: space-between;
}
.accroche{
    text-align: center;
    margin-right: 50%;
    font-size: 1.5rem;
    padding: 10%;
}
h1{
    font-size: 54px;
    margin-left: 10%;
}

.block1{
   display: flex;
   gap: 30px;
   width: 100%;
   margin-left: 17%;
}
.epilation,.visage,.mains{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.corps,.pulsee,.regard{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.block2{
    display: flex;
    gap: 30px;
    width: 100%;
    margin-left: 17%;
}
.background2{
    background-color: #EEC6C7;
    margin: auto;
}
.bon2{
    margin-left: 50%;
    background-color: #121212;
    color: white;
    line-height: 3;
    margin-right: 400px;
    text-align: center;
    margin-bottom: 150px;
}
.bon3{
    margin-left: 50%;
    background-color: #121212;
    color:white;
    line-height: 3;
    margin-right: 400px;
    text-align: center;
}
h2{
    font-size: 41.4px;
    text-align: center;
}
p{
    text-align: center;
    font-size: 27.9;
}
