body{
    font-family: Arial, Helvetica, sans-serif;
   min-height: 100%;
   width: 100%;
}
.topbar{
    
    border-style:solid;
    border-style: groove;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;   
    text-align: start; 
    letter-spacing: normal;
    font-size: 13px;
    line-height: 44px;   
}
.icone{
    display: flex;
    font-size: 15px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1px;
}
.menu-item{
    display: flex;
    list-style-type: none;
    justify-content: end;    
}

.menu-item a{
text-decoration: none;
margin-left: 20px;
color: #199BAB;
}
.menu-item a:hover{
    color: black;
}
.logo{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 2%;
}
.background{
    background-image: url(image/presso.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.menu-nav{
    float: left;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    list-style-type: none;    
}
.header2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
    
.menu-nav a{
    text-decoration: none;
    margin-top: 2rem;
    color:#121212;
    display: flex;   
    justify-content: space-between; 
    padding: 0 10px;
}
.svg{
    width: 20px;
    margin-top: 1.5rem;
}
.accroche{
    text-align: left;
    margin-right: 30%;
    font-size: 1rem;
    padding: 13%;
}
h1{
    font-size: 54px;
    margin-right: 20%;
    text-align: left;  
}
.bon1{
    padding: 5%;
    list-style-type: none;
}

.block1{
   display: flex;
   gap: 30px;
   width: 100%;
   justify-content: center;

}
.epilation,.visage,.mains{
    display: flex;
    flex-direction: column;
    width: 20%;
    color: #686868;
}
.corps,.pulsee,.regard{
    display: flex;
    flex-direction: column;
    width: 20%;
    color:#686868 ;   
}
.block2{
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-content: normal;
}
.background2{
    background-color: #EEC6C7;
    margin: auto;
    padding: 5%;
}
.bon2,bon3{
    margin-left: 50%;
    color: #121212;
    list-style-type:none;
    line-height: 3;
    margin-right: 400px;
    text-align: center;
    text-decoration: none;
}

h2{
    font-size: 41.4px;
    text-align: center;
    font-style: normal;
}
p{
    text-align: center;
    font-size: 27.9;
}
.container{
    padding-top: 1%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.5rem;
    color:#888888;
    background-color:ghostwhite;
}

h3{
    font-size: 3rem;
    color: #199BAB;
   text-align: center;

}
.block3{
    display: flex;
    flex-direction: column;
  
}
.institut{
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: end;
    padding-left: 50%;
    text-decoration: none;
}
.RV a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 3%;
    border: solid;
    background-color:#199BAB;
    font-size: 1.3rem;
}
h4{
    color: #F7A196;
    font-size: 2rem;
}
.concept{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    
}
block5{
    display: flex;
    flex-direction: column;
}
.recrutement{
    display: flex;
    justify-content: end;
    margin-left: 50%;
    color: white;
    background-color: #199BAB;
}
.footer{
    background-color: #121212;
    display: flex;
}
.logo_footer{
    display: flex;
    width: 227px;
    height: 144px;
}
h5{
    color: white;   
}
section1,section2,section3{
    display: flex;
    flex-direction: column;   
}
